*{
	margin: 0;
	padding: 0;
}

body{
	background: $color_primario;
}

.img-principal {
    width: 25%;
    margin-top: 14%;
    margin-left: 17%;
}

.mi-buscador{
	@include border();
}

.contenedor-dropdown{
	margin-top: 2%;
}

.buscador-rapido{
	display: inline-block;
	background-color: rgb(143, 125, 113);
    padding: 16px;
    border-radius: 18px;
		a{
			color: whitesmoke;
		}
}

.contenedor{
	width: 90%;
	margin: $margin auto;
}

.elemento{
	background: $color_primario;
	margin-right: $margin;
	margin-bottom: $margin;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
		.titulo{
			@include titulo();
		}
		p{
			@include elementos-p();
		}
		img{
			width: 100%;
			margin-top: 10px;
		}
}


.titulo{
	@include titulo();
}

.imagenes-modal{
	margin-left: 20px;
	width: 100%;
	height: 50%;
}

.user{
	font-size: $font-size;
	color: blue;
	font-weight: 700;
}

.descripcion{
	font-size: $font-size;
	color: purple;
}